<!DOCTYPE html>
<html lang="et">

<head>
  <%- include('partials/headforedit'); %>

</head>

<body>

  <%- include('partials/header'); %>

    <%- include('partials/navcompetitions'); %>

      <div class="container">
        <h2 class="text-center my-2">Võistlustabel</h2>
      </div>

      <div class="container-fluid my-0">

       <pre>
       info
       start
       ---------------------------------------
                <%= competitiongames %>
       </pre>
      </div>

      <%- include('partials/footer'); %>

	<script>
		var gamedata=JSON.parse('<%- competitiongames %>');
	</script>

</body>

</html>
