<!DOCTYPE html>
<html lang="et"><html lang="et" class="h-100">

<head>
  <%- include('partials/headforedit'); %>

</head>

<body class="d-flex flex-column h-100">

  <%- include('partials/header'); %>

  <%- include('partials/navcompetitions'); %>

  <% if (competitionsinfo) { %>

  <main role="main" class="flex-shrink-0">
    <div class="container my-5">

      <h2 class="text-center my-4">Võistluse info</h2>
      <div class="row">
        <div class="col">
          <div class="card w-50  mx-auto">
            <svg class="bd-placeholder-img bd-placeholder-img-lg img-fluid" width="100%" height="200"
              xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Responsive image"
              preserveAspectRatio="xMidYMid slice" focusable="false">
              <title>Placeholder</title>
              <rect width="100%" height="100%" fill="#6c757d"></rect>
              <text x="35%" y="50%" fill="#dee2e6" dy=".5em"><%= competitionsinfo.location %> pilt</text>
            </svg>
            <div class="card-body">
              <blockquote class="blockquote mb-0 my-3">
                <h5 class="card-title my-0"><%= competitionsinfo.competitionsname %></h5>
              </blockquote>
              <p class="my-1">Kuupäev: <%= competitionsinfo.competitionsdate %></p>
              <p class="my-1">Kellaaeg: <%= competitionsinfo.competitionstime %></p>
              <p class="my-1">Võistluskoht: <%= competitionsinfo.location %></p>
              <p class="my-1">Korraldaja: <%= competitionsinfo.organizer %></p>
              <p class="my-1">Korraldaja kontakt: <%= competitionsinfo.organisercontact %></p>
              <p class="my-1">Kohtunik: <%= competitionsinfo.referee %></p>
              <p class="my-1">Kohtuniku kontakt: <%= competitionsinfo.refereecontact %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

    <% } %>

    <%- include('partials/footer'); %>

</body>

</html>