<!DOCTYPE html>
<html lang="et" class="h-100">

<head>
  <%- include('partials/headforedit'); %>

</head>

<body class="d-flex flex-column h-100">

  <%- include('partials/header'); %>

    <%- include('partials/navcompetitions'); %>

    <main role="main" class="flex-shrink-0">
      <div class="container my-5">

        <div class="row my-3">
          <div class="col">
            <!-- <a class="btn btn-secondary mx-right" href="#" role="button">
              <i class="fas fa-plus"></i>
              Lisa võistlus
            </a> -->
          </div>
          <div class="col">
            <h2 class="text-center">Paigutus</h2>
          </div>
          <% if (competitionsinfo) { %>
          <div class="col text-right">
            <a class="btn btn-secondary mx-right" href="/competitions/<%= competitionsinfo.id %>/registration" role="button">
              <i class="fas fa-plus"></i>
              Registreeri võistleja
            </a>
          </div>
          <% } %>
        </div>
  
        <div class="table-responsive-md">

          <table class="table table-hover" id="reitinguNimekiri">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Koht reitingus</th>
                <th scope="col">Paigutuspunktid</th>
                <th scope="col">Reitingupunktid</th>
                <th scope="col">Kaalud</th>
                <th scope="col">Nimi</th>
                <th scope="col">Sünniaasta</th>
                <th scope="col">Sugu</th>
                <th scope="col">ID</th>
                <th scope="col">Klubi</th>
              </tr>
            </thead>
            <tbody>



            </tbody>
          </table>
        </div>
      </div>
    </main>

    <%- include('partials/footer'); %>

</body>

</html>