<!DOCTYPE html>
<html lang="et">

<head>
  <%- include('../partials/head'); %>
</head>

<body>

  <%- include('../partials/header'); %>


    <div class="container my-5">

      <h2 class="text-center my-4">Eesti Lauatenniseliidu reiting</h2>
      <div class="table-responsive-md">

        <!-- SEARCH -->
        <div class="row mb-2">
          <div class="col-sm-12 offset-sm-0">
            <div class="input-group input-group">
              <span class="input-group-prepend">
                <div class="input-group-text bg-transparent border-right-0"><i class="fa fa-search"></i></div>
              </span>
              <!-- <input class="form-control py-2 border-left-0 border" type="text" id="myInput" data-table="order-table"
                  onfocus="this.value=''" placeholder="Otsi võistluste infot ..."> -->
              <input class="form-control py-2 border-left-0 border" type="search" id="myInput" data-table="order-table"
                placeholder="Otsi kogu tabelist ...">
              <span class="input-group-append">
                <button class="btn btn-outline-secondary border-left-0 border" type="button">
                  Otsi
                </button>
              </span>
            </div>
          </div>
        </div>

        <table class="table table-hover" id="reitinguNimekiri">
          <thead class="thead-dark">
            <tr>
              <th scope="col" data-toggle="tooltip" title="Koht reitingus">NR</th>
              <th scope="col" data-toggle="tooltip" title="Paigutuspunktid">PP</th>
              <th scope="col" data-toggle="tooltip" title="Reitingupunktid">RP</th>
              <th scope="col" data-toggle="tooltip" title="Kaalud">KL</th>
              <th scope="col" data-toggle="tooltip" title="Eesti Lauatenniseliidu ID">ELTL ID</th>
              <th scope="col">Eesnimi</th>
              <th scope="col">Perekonnanimi</th>
              <th scope="col">Sünniaasta</th>
              <th scope="col">Sugu</th>
              <th scope="col">Klubi</th>
            </tr>
          </thead>
          <tbody id="reitingTable">
            <tr>
              <% for(let result of results) { %>
            <tr>
              <td class="font-weight-bolder">
                <%= result.RATEORDER %>
              </td>
              <td>
                <%= result.RATEPLPNTS %>
              </td>
              <td>
                <%= result.RATEPOINTS %>
              </td>
              <td>
                <%= result.RATEWEIGHT %>
              </td>
              <td>
                <%= result.PERSONID %>
              </td>
              <td class="font-weight-bolder">
                <%= result.FIRSTNAME %>
              </td>
              <td class="font-weight-bolder">
                <%= result.FAMNAME %>
              </td>
              <td>
                <%= result.BIRTHDATE %>
              </td>
              <td>
                <%= result.SEX %>
              </td>
              <td>
                <%= result.CLBNAME %>
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>

      </div>
    </div>

    <%- include('../partials/footer'); %>

</body>

</html>